element.style {
}
@media screen and (max-width: 980px) {
    #intro + #header {
        margin-top: -14rem;
    }
}
#intro + #header {
    margin-top: -20rem;
}
@media screen and (max-width: 980px) {
    #header {
        height: 14rem;
        padding-bottom: 4rem;
    }
}
#header {
    color: #ffffff;
    -moz-align-items: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -moz-justify-content: -moz-flex-end;
    -webkit-justify-content: -webkit-flex-end;
    -ms-justify-content: -ms-flex-end;
    justify-content: flex-end;
    pointer-events: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    height: 20rem;
    padding-bottom: 8rem;
    position: relative;
    text-align: center;
    z-index: 2;
}
header {
    cursor: default;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
*, *:before, *:after {
    box-sizing: inherit;
}
user agent stylesheet
header {
    display: block;
    unicode-bidi: isolate;
}
body, input, select, textarea {
    font-family: "Merriweather", Georgia, serif;
    font-weight: 300;
    font-size: 1rem;
    line-height: 2.375;
}
body {
    color: #212931;
}
body {
    -webkit-text-size-adjust: none;
}
body {
    line-height: 1;
}
@media screen and (max-width: 1280px) {
    html {
        font-size: 11pt;
    }
}
@media screen and (max-width: 1680px) {
    html {
        font-size: 12pt;
    }
}
html {
    font-size: 16pt;
}
*, *:before, *:after {
    box-sizing: inherit;
}
*, *:before, *:after {
    box-sizing: inherit;
}
